<div>
<!--  <app-search-directory></app-search-directory>-->
<!--  <app-showcase-view-buttons></app-showcase-view-buttons>-->

  <app-breadcrumbs
    [selected_directory_name]="selected_directory_name"
    (onSelectedDirectoryFromBreadcrumbs)="onSelectedDirectoryFromBreadcrumbs($event)"
  ></app-breadcrumbs>

  <table border="1">
    <tr>
      <td>

        <app-tree-directory
          [tree_directory_data]="tree_directory_data"
          (onSelectedDirectory)="onSelectedDirectory($event)"
        ></app-tree-directory>

      </td>
      <td>

        <app-showcase-directory
          [selected_directory_data]="selected_directory_data"
          (onSelectedDirectory)="onSelectedDirectory($event)"
        ></app-showcase-directory>

      </td>
    </tr>
  </table>

</div>
