<div>
  <div *ngFor="let item of tree_directory_data">
    <div *ngIf="item.flag == 'd'; else noDirectory" (click)="onSelectedDirectory.emit(item)">
      {{ item.flag }} {{ item.name }}
    </div>
    <ng-template #noDirectory>
      {{ item.flag }} {{ item.name }}
    </ng-template>
  </div>
</div>
